h2 {
    color: #A4A400;
    background-color: #ebebeb;
}
.headerh2 {
    text-align: center;
}
blockquote {
    background-color: #efef8aad;
    font-style: italic;
}
a {
    color: #A4A400;
}
footer{
    text-align: right;
}