 body{
     background-color:#595647;
    color: white;
 }
h1{
    color: cornflowerblue;
}
h2 {
    color: cornflowerblue;
}
.mooddiv{
    display: flex;
    flex-flow: row;
}
a {
    color: red;  
}